/* Estilos generales*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------------------- */
* {
  /*Scrollbar Firefox */
  scrollbar-width: thin;
  scrollbar-color: #002642 #F03A47;
}

/*Scrollbar Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #F03A47;
}
*::-webkit-scrollbar-thumb {
  background-color: #152F4F;
  border-radius: 20px;
  border: 1px solid #F03A47;
}

html{
  margin:0px;
  padding:0px;
  width: 100vw;
}

a{
  transition: 0.6s all;
}


 nav {
  background-color:#F03A47;
  box-shadow: 0px 27px 29px -31px rgba(0,0,0,0.83);
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
    font-family: 'Sigmar One', cursive;
    font-size:30px;

} 

.navbar-brand {
  font-family: 'Sigmar One', cursive;
}

.navbar-light .nav-item .nav-link{
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #CBCBCB;
}

.navbar-light .navbar-nav .active > .nav-link{
  color: black;
}

body, .respuesta {
  background-color: #002642;
  font-family: 'Roboto', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overflow-x: hidden;
}

.card h5{
  color: white;
} 

.btn-logreg {
  background-color: #002642 ; 
  margin-right:1%; 
  border-radius: 10%;
  border:none;
  color:white;
  transition:all 0.6s;
} 

.btn-comentar {
  background-color: #002642 ; 
  margin-right:1%; 
  border-radius: 10%;
  border:none;
  color:white;
  padding:1%;
  transition: all 0.8s;
} 

.btn-comentar:hover {
  background-color:#F03A47;
  color:white;
}

.btn-logreg:hover {
  background-color: white;
  color:#f03a47;
}

.btn-logout {
  background-color: #002642 ; 
  margin-right:1%; 
  border-radius: 10%;
  border:none;
  color:white;
  transition:all 0.6s;
} 

.btn-busqueda{
  background-color:#002642;
  border:none;
  color:white;
  font-family: "Roboto", sans-serif;
  border-radius: 10%;
  transition:0.6s all;
}

.btn-busqueda:hover{
  background-color: white;
  color:#f03a47;
}

.btn-logout:hover {
  background-color: white;
  color:#f03a47;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------------------- */


/*Estilo del login*/

/* --------------------------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button, .submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #F03A47;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #915050;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #F03A47;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  /* max-width: 300px; */
  margin: 0 auto; 
  color:black;
  
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.recuerdame
{
text-align:left;
color: #002642;
}

.recuerdame>input
{
  position: relative; 
  right: 10%; 
  width: 30%;
}

.recuerdame>label
{ 
  position: relative;
  right: 20%;
  text-align: left;
}

.reg-foto-perfil
{
right: 20%;
background:none;
}

/* .reg-foto-perfil>label
{ position: relative;
  color:#4e6994;
  font-size: 20px;
} */

.reg-foto-perfil>input
{ position: relative;
  width: 70%;
  color:#F03A47;
}
/* HOME */
/* --------------------------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------------------- */

 .Usuario img{
   height: 90px;
   width: 90px;
   margin-right: 3%;
   border-radius: 5%;
 }


.containerh {
   text-align: center;
   border-bottom:3px black solid;
   width: 100%;
   background-color:white;
   overflow: hidden;
}

.containerh h2{
  text-align: center;
}

.titulo-home{
 font-size: 60px;
 text-align: center;
 color: #EF3B3A;
 padding: 10px;
 border:3px #002642 solid;
}

.car
{
  position:relative;
  top:20%;
  display:flex;
  flex-flow: wrap row;
  justify-content: center;
  width: 100%;
  margin-bottom:10%;
  margin-top:10%;
  
}

.btn-EditarPerfil{
  background-color: #f03a47;
  border:none;
  color:white;
  font-size:10px;
}

.btn-primary
{
  background-color:#002642;
}

.botonh{
  position: relative;
  top:20%;
  margin-bottom:5%;

}


.container-obj{
  font-size:20px;
  width:100%;
  background-color:#F03A47;
  height:70vh;
  padding: 1.5%;
  border-bottom:black 2px solid;
  overflow:auto;

}

.container-obj>h2{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.datos{
 margin: 5px;
 background-color: #002642;
 border:1px black solid;
 color: white;
 width: 40%;
 text-align: center;
}

.container-int{
  display:flex;
  flex-flow: wrap row;
  justify-content: center;
  position:relative;
  background-color:white;
  width: 100%;
  height:50vh;
  font-size:40px;
  color:black;
  overflow: hidden;
}
.datos-int{
  display:flex;
  position:relative;
  justify-content: center;
  margin:5px;
  width: 30%;
  height: 30%;
  top:10%;
  font-size:25px;
  border: 1px black solid;
  color:white;
  background-color: #002642;
}

.span-int{
  position: relative;
  top:20%;
  bottom:20%;
}

.posteos .post .Usuario a{
  color: #000000;
}

.posteos .post .Usuario a:hover{
  color:#F03A47;
  text-decoration: none;
}

.preguntas{
  text-transform: uppercase;
  outline: 0;
  background-color: #F03A47;
  color:white;
  font-size: 14px;
  border: 1px solid #000000;

}

.preguntas h5{
  height: 40px;
  line-height: 50px;
}

.faq p {
  font-family: "Roboto", sans-serif;
  color: #cbcbcb;
  padding: 5px;
}


/* Perfil */
/* --------------------------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------------------- */
.body-perfil {
  border-radius: 5%;
  background-color: #002642;
  overflow:auto;
  overflow-x: hidden;
  text-align: center;
  margin: auto;
  /* height: 100vh;  */
}

.perfil{
  margin: 0px;
  padding: 0px;
}

.body-perfil img{
  max-width: 200px;
  border-radius: 5%;
}

.post-text {
  text-align: left; 
  margin-left: 2%;
}

.foto-perfil img{
  width: 120px;
  height: 120px;
  border-radius: 5%;
}

.nombre {
  text-align: center;
}

.info-perfil {
  list-style-type: none;
  margin:2%;
  padding: 0px;
}

hr {
  width: 100%;
}

.no-sigue{
  font-size: 1.4em;
  color: #F03A47;
  margin-top: 5vh;
  background-color: white;
  border-radius: 2%;
  padding: 3%;
}

.posteos {
  margin: 0 auto 20% auto;
  border-radius: 1%;

}

.post {
  border-radius: 1%;
  background-color: white;
  max-width: 1000px;
  margin-bottom: 5%;
  color: black;
  font-family: "Roboto", sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 2%;
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
}

.post-comentario {
  border-radius: 1%;
  background-color: white;
  max-width: 1000px;
  margin: auto;
  color: black;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.post-comentario a {
  color: black;
}

a.comentarios-titulo {
  font-size: 1.2em;
  color:#002642;
  text-decoration: none;
}

a.comentarios-titulo:hover {
  color:#F03A47;
}


.Usuario {
  text-align: left;
}

.amigos{
  display: flex; 
  flex-wrap: wrap;
  
} 

.seguidores {
  width: 100%; 
  margin-bottom: 10%;
  
}  

.busqueda {
  margin-bottom: 10%;
  margin-top: 10%;
}

.segleft {
  border-right: solid 2px black;
}

.amigos-title {
  text-align: center;
}

.lista-amigos {

  list-style-type: none;
  margin:auto;
  padding: 0px;

}

.btn-amigos{
  padding: 2%;
  background-color: #f03a47;
  border: none;
  color:white;
  margin: 10%;
  border-radius: 5%;
  transition: 0.6s ease-out;
  cursor: none;
}


.btn-amigos-user{
  padding: 2%;
  background-color: #f03a47;
  border: none;
  color:white;
  margin: 10%;
  border-radius: 5%;
  transition: 0.6s ease-out;
  cursor: none;
}

.btn-seguir-user{
 background-color: #F03A47;
 color: white;
 border: none;
 padding: 1%;
 margin-top: 1%;
 font-size: 0.5em;
 border-radius: 5%;
 transition: ease-out 0.8s all;
}

.btn-seguir-user:hover{
  background-color: whitesmoke;
  color: #F03A47;
}

.btn-amigos:hover{
  background-color: whitesmoke;
  color: #F03A47;
}

.img-amigos-perfil{
  box-shadow: 1px 12px 20px -10px #00000f; 
  width: 120px;
  height: 120px;
}

.nombre-amigo{
  color: white;
  transition: ease-out 0.6s all;
}

.nombre-amigo:hover{
  color: #F03A47;
  text-decoration: none;
}

.segleft{
  color: white;
  border:none;
}



.no-sigue{
  font-size: 1.4em;

}

.amigos-bottom{
  display:none;
}


/*-------------nav---------------*/
.nav-link.link-menu:hover{
  transition: ease-out 0.8s all;
}

a.nav-link.link-menu:hover{
  transform:scale(1.25);
  color:#002642;
}


/* Home deslogueado-------------------------------------------------------------------------------------------------------------------------------------*/

.main-index {
  display:flex;
  background-color:whitesmoke;
  color:#002642;
  flex-wrap: wrap; 
  justify-content: center; 
  overflow: hidden; 
  font-size: 12px;
  width: 100vw;
  box-shadow: 1px 9px 45px -10px #00000f;
}  

.sub-index {
  overflow: hidden;
  text-align: center; 
  color:white;
  width: 100vw; 
  margin:1%; 
  padding-top: 1%; 
  padding-bottom: 1%;
  word-wrap: break-word; 
  font-size: 2em;
} 

.sub-index p{
  color:#002642;
}

.foto-index{
  align-self: center;
  width:100%;
  height: 60%;
  max-width: 1200px;
  border: 0.3px #b3b3b3 solid;
  border-radius: 5%;
  box-shadow: 1px 9px 20px -10px #00000f;
}

.opciones-index{
  display:flex;
  width:100vw;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
}

.opciones-index a{
  color:#F03A47;
  font-size: 1.4em;
}

.footer-index{
  font-size: 0.8em;
  display: flex;
  flex-wrap:nowrap;
  flex-direction:row;
  align-items: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
  color:white;
  width: 100vw;
  min-height: 15vh;
  padding:4%;
}

.copyright{
  width: 100vw;
}


/* Home logueado */ 
.loghom-container {
  display:flex; 
  overflow: hidden; 
  flex-wrap: wrap; 
  justify-content: center;
} 

/* footer */ 

.footer{
  background: #002642;
  color:white;
  height: 20%;
  }  
  
  ul {
    list-style-type: none;
    }

  li a{
      color: white;
      transition: color .2s;
    }

  .copyright p{border-top:1px solid rgba(255,255,255,.1);}  

  /********************************* BUSQUEDA *********************************************************************/ 

  .encontrados {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }

  .titulo-encontrados{
    font-size: 3em;
    align-self: center;
    margin:5%;
    margin-bottom: 2%;
  }

  .ul-busqueda{
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .container-user{
    align-items: center;
    margin: 3%;
    width: 50vw;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 3%;
    border-radius: 1%;
    align-items: center;
    box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
  }
  .nombre-busqueda{
    color: #F03A47;
    font-size: 1.8em;
    align-self: center;
    width: 80%;
    transition: 0.4s all linear;
  }

  .nombre-busqueda:hover{
    color: #F03A47;
    text-decoration: none;
    font-size: 2em;
  }


  .foto-busqueda{
    border-radius: 3%;
    width: 120px;
    height: 120px;
    float: right;
  }

  .datos-busqueda{
    color: #002642;
  }

  .form-busqueda {
    margin-top: 5%;
    display:flex;
    width: 50vw;
    color: white;
    font-size: 1.5em;
    align-content: center;
    justify-content: center;
    margin-right: 0px;
  }

  .btn-busqueda-completa{
      background-color:#F03A47;
      border:none;
      color:white;
      font-family: "Roboto", sans-serif;
      border-radius: 10%;
      transition:0.6s all;
    }
    
    .btn-busqueda-completa:hover{
      background-color: white;
      color:#f03a47;
    }

  .contacto, .faq{
    color: white;
  }


@media (min-width:1024px) {  


  .seguidores {
    width: 48%;
  }

  .foto-perfil {
    width: 30%;
    margin-left: 35%;
  }

  .header-perfil {
    width: 30%;
    float:left;
  }

  .posteos {
    float:left;
    width: 40%;
  }

  .lista-amigos {
  width:70%;
  } 
  .lista-amigos span, img{
    width:100%;
    max-width: 200px;
    } 
    .lista-amigos img{
      width:120px;
      } 

  .busqueda {
    margin-top: 10%;
  }

  .sub-index {
    width:45%;
  }
  
}  
.publicacion{
  margin-top: 20px;
  padding: 10px;
  border-radius: 3%;
}

.publicacion .publicar{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.publicacion .mensaje>#posteo{
  width: 100%;
  height: 100px;
  border: 0;
  vertical-align: top;
  resize: none;
  border-radius: 1%;
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
}


.publicacion .botones .btn{
  width: 49%;
  background-color: #F03A47;
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
  transition: 0.6s ease-out;
}

.publicacion .botones .btn:hover{
  transform: scale(1.1);
}


.erroresPublicacion{
  display: flex;
  margin: auto;
  width: 50%;
  z-index: 20;
  background-color: #f03a47;
  animation: fadein 2s;
  margin-bottom:5px;
  text-align: left;
  border-radius: 5%;
}

 /* ----- ----- ----- CARROUSEL ----- ----- ----- */


 .contenedor-carousel{
  border-radius: 5%;
}

.contenedor-principal
.contenedor-posteos-controles{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-posteos-controles .indicadores button{
  background: #FFFFFF;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-posteos-controles .indicadores button.activo{
  background: blue;
}

.ultimos-posteos .contenedor-principal{
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
}

#divUltimosPosteos .post{
  box-shadow: none;
}
  
.ultimos-posteos .contenedor-principal .flecha-izquierda,
.ultimos-posteos .contenedor-principal .flecha-derecha {
  position: relative;
  border: none;
  background: rgba(0,0,0,0.3);
  font-size: 40px;
  height: 302px;
  line-height: 40px;
  width: 50px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.9s ease all;
}

.ultimos-posteos .contenedor-principal .flecha-izquierda:hover,
.ultimos-posteos .contenedor-principal .flecha-derecha:hover {
  background: rgba(0,0,0,0.9);
}

.ultimos-posteos .contenedor-principal .flecha-izquierda{
  left: 0px;
  z-index: auto;
  border-radius: 5%;
}
.ultimos-posteos .contenedor-principal .flecha-derecha{
  right: 0px;
  z-index: auto;
  border-radius: 5%;
}

.contenedor-principal .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 3%;
}

.contenedor-principal .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.contenedor-principal .contenedor-carousel .carousel .posteo {
  color:black; 
  background-color: white; 
  width:100%; 
  margin:2% 0%; 
  padding:2%;
  overflow: scroll;
  overflow-x: hidden;
  height: 300px;
}

.contenedor-principal .contenedor-carousel .carousel .posteo a {
  color: #000000;
}


/*---------------------------PAGINA SEGUIDORES------------------------*/

.seguidos-titulo{
  text-align: center;
  margin-bottom: 8%;
  margin-top: 2%;
}

.seguidos-titulo b{
  color: #F03A47;
  font-size: 1.2em;
  font-style: italic;
}

.panel-seg{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 100vw;
}

.panel-seguidores{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30vw;
}

.panel-seguidos{
  display:flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  align-content: center;
}

.panel-amigos{
  align-items: center;
  align-self: center;
  align-content: center;
  padding: 0%;
  margin-left: 0%;
}

.btn-panel-seguidores{
    border-radius: 4%;
    display:block;
    padding:3%;
    margin-bottom: 6%;
    background-color: #F03A47;
    border: none;
    color: white;
    align-items: center;
    width: 100%;
    box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
    font-size: 1.3em;
}

.btn-dejar-seguir{
  border: none;
  padding: 5% 10% 5% 10%;
  color:white;
  background-color: #F03A47;
  transition: 0.6s ease-out;
  margin-left: 5vw;
  align-self: center;
  justify-content: center;
  border-radius: 3%;
  box-shadow: 6px 6px 8px -6px rgba(0,0,0,0.30);
}

.btn-dejar-seguir:hover{
  background-color: #002642;
}

.btn-dejar-seguir-mobile{
  display: none;
}

.btn-seguir{
  border: none;
  padding: 5% 10% 5% 10%;
  color:white;
  background-color: #F03A47;
  transition: 0.6s ease-out;
  align-self: center;
  justify-content: center;
}

.panel-container{
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: white;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-right: 3vw;
  padding: 3%;
  border-radius: 3%;
  align-items: center;
  box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
}

.container-seguir{
  margin:5%;
  align-self: center;
}

.panel-nombre{
  font-size: 1.6em;
  text-align: center;
  color:#002642;
  width: 30%;
  margin-left: 2%;
  transition: ease-out 0.6s all;
}

a.panel-nombre:hover{
  text-decoration: none;
  color:#F03A47;
}

.panel-fotos{
  width: 120px;
  height: 120px;
  border-radius: 5%;
  margin: 5%;
  align-self: center;
  justify-content: center;
}


@media only screen and (max-width: 1000px) {
  /* For mobile phones: */

      .header-perfil{
        margin-bottom: 20%;
      }

      .amigos{
        display:none;
      }

      .seguidores.segleft{
        display:flex;
        flex-direction: row;
      }

      .amigos-bottom{
        display:flex;
        flex-direction: row;
        margin: 2%;
        align-items: center;
        justify-content: space-evenly;
      }


      .btn-amigos-mobile{
        border-radius: 5%;
        display:block;
        padding:2%;
        margin: 3%;
        width: 8vw;
        height: 5vh;
      }

      .btn-panel-seguidores{
        width: 30vw;
      }

      .no-sigue{
        width: 150px;
        height: 120px;

      }

      .btn-dejar-seguir{
       display: none;
      }

      .btn-dejar-seguir-mobile{
        display: block;
        background-color: #F03A47;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 40%;
        border: none;
        margin-left: 8vw;
      }

      .panel-nombre{
       width: 60px;
       font-size: 0.9em;
      }

      .panel-fotos{
        width: 60px;
        height: 60px;
      }

      .panel-container{
        width: 150px;
        height: 120px;
      }

      .panel-nombre{
        width: 60px;
      }


      ul.ul-busqueda{
        list-style: none;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
      }

      .titulo-encontrados{
        font-size: 1.3em;
        text-align: center;
      }

      .container-user{
        align-items: center;
        font-size: 0.8em;
        margin: 3%;
        width: 80vw;
        background-color: white;
        margin: 5%;
        padding: 3%;
        border-radius: 1%;
        align-items: center;
        box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.48);
      }

      .nombre-busqueda{
        color: #F03A47;
        font-size: 0.9em;
        align-self: center;
        width: 40%;
        transition: 0.4s all linear;
      }
    
      .nombre-busqueda:hover{
        color: #F03A47;
        text-decoration: none;
        font-size: 1.3em;
      }
    
    
      .foto-busqueda{
        border-radius: 3%;
        margin-top:5%;
        margin-right: 2%;
        width: 60px;
        height: 60px;
        float: right;
      }

      .datos-busqueda{
        color: #002642;
      }

      .form-busqueda{
        margin: auto;
        width: 70vw;
        font-size: 0.9em;
        align-self: center;
        margin-bottom: 8%;
        margin-top: 3%;
      }









}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}